.settings_holder{
    margin:auto;

    .controls{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width:40vw;
        height: 90vh;
        background-color:#c7e9ff;
        border-radius: 5px;
        main{
          position:relative;
          background-color: white;
          border-radius: 11px;
          width: 70%;
          height: 65%;
          margin: auto;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          padding:1em 0 1em 0;
          .start-end{
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            gap:2em;
            margin-top:3em;
            margin-bottom: 3em;
            text-decoration: underline;
          }
          .info{
            background-color: rgba(255, 166, 0, 0.519);
            border-radius: 12px;
            padding:1em;
            width: 70%;
            img{
              float: right;
              opacity: 0.5;
            }
            li{
              text-align: left;
              margin-bottom: 1em;
              font-weight: bold;
              color:rgba(0, 0, 0, 0.523);
              margin-left:1em;
            }
          }
          button{
            position: absolute;
            bottom: 10;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            display: block;
            width: 77%;
            padding:1em;
            background-color: orange;
            border:none;
            border-radius: 12px;
            color:white;
            font-weight: bold;
            font-size: 24px;
            &:hover{
              cursor: pointer;
              background-color: rgba(255, 166, 0, 0.601);
            }
          }
          .enabled{
            background-color: white;
            color:black;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;          }
        }
        .heading{
            color:rgba(0, 0, 0, 0.614);
            text-align: center;
            font-size: 45px;
            font-weight: bold;
            padding-top:1.2em;
            margin-bottom: 1em;
        }
        nav{
          display: flex;
          justify-content: center;
          text-align: center;
          p{
            border: solid rgba(0, 0, 0, 0.504) 1px;
            background-color:orange;
            padding:0.5em 1em 0.5em 1em;
            width: 6em;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            border:none;
            transition: all 500ms;
            &:first-child{
              border-top-left-radius: 12px;
            }
            &:last-child{
              border-top-right-radius: 12px;
            }
            &:hover{
              cursor: pointer;
            }
          }
          .chosen{
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
            background-color: white;
            border-bottom: none;
            &:first-child{
              border-bottom-left-radius: 0px;
            }
          }
        }
        .slider{
            width: 60%;
            margin: auto;
            .flex{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                input{
                    width: 60%;
                }
                p{
                    margin-left: 10px;
                    margin-right: 10px;
                    width: 1em;
                    font-size: 1.2em;
                }
            }
            label{
                display: block;
                width: 100%;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                color:#0000007a;
            }
        }
        p{
            text-align: center;
        }
        input[type=text]{
            margin-top:1em;
            display: block;
            margin: auto;
            width: 40%;
            height: 2em;
            border-radius: 12px;
            border:2px solid rgba(0, 0, 0, 0.437);
            padding-left:1em;
            
        }
        input[type=file]{
            display: block;
            margin: auto;
            margin-top:1em;
        }
    }

    input[type=range] {
        height: 34px;
        -webkit-appearance: none;
        width: 100%;
        background-color: transparent;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;        width: 100%;
        height: 7px;
        cursor: pointer;
        animate: 0.2s;
        background:rgb(0,175,255);
        border-radius: 7px;
      }
      input[type=range]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        border-radius: 15px;
        border:1px solid black;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: lightblue;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 11px;
        cursor: pointer;
        animate: 0.2s;
        background: rgb(0,175,255);
        border-radius: 7px;
        border: 0px solid #010101;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000031;
        border: 1px solid #00001E;
        height: 26px;
        width: 26px;
        border-radius: 15px;
        background: #FFFFFF;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 11px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: rgb(0,175,255);
        border: 0px solid #010101;
        border-radius: 2px;
        box-shadow: 1px 1px 1px #000000;
      }
      input[type=range]::-ms-fill-upper {
        background: rgb(0,175,255);
        border: 0px solid #010101;
        border-radius: 2px;
        box-shadow: 1px 1px 1px #000000;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 1px 1px 1px #000031;
        border: 1px solid #00001E;
        height: 26px;
        width: 26px;
        border-radius: 15px;
        background: #FFFFFF;
        cursor: pointer;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #74A9D8;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #74A9D8;
      }
      
}