.settings_holder{
    margin:auto;

    .controls{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width:40vw;
        height: 90vh;
        background-color:#c7e9ff;
        border-radius: 5px;
        main{
          position:relative;
          background-color: white;
          border-radius: 11px;
          width: 70%;
          height: 65%;
          margin: auto;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          padding:1em 0 1em 0;
          overflow-y: scroll;
          .start-end{
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            gap:2em;
            margin-top:1.5em;
            text-decoration: underline;
          }
          .info{
            max-height: 50%;
            background-color: rgba(255, 166, 0, 0.519);
            border-radius: 12px;
            padding:1em;
            width: 70%;
            margin:auto;
            margin-top: 2em;
            overflow-y: scroll;
            img{
              float: right;
              opacity: 0.5;
            }
            li{
              text-align: left;
              margin-bottom: 1em;
              font-weight: bold;
              color:rgba(0, 0, 0, 0.523);
              margin-left:1em;
            }
          }
          button{
            position: absolute;
            bottom: 0;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            margin-bottom: 20px;
            width: 77%;
            padding:1em;
            background-color: orange;
            border:none;
            border-radius: 12px;
            color:white;
            font-weight: bold;

            display: flex;
            justify-content: center;
            align-items: center;
            gap:0.5em;
            font-size: 1.7vw;
            &:hover{
              cursor: pointer;
              background-color: rgba(255, 166, 0, 0.601);
            }
          }
          .enabled{
            background-color: white;
            color:black;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
          img{
            width: 1.2em;
          }
        }
        .heading{
            color:rgba(0, 0, 0, 0.614);
            text-align: center;
            font-size: 3vw;
            font-weight: bold;
            padding-top:1.2em;
            margin-bottom: 1em;
        }
        nav{
          display: flex;
          justify-content: center;
          text-align: center;
          p{
            border: solid rgba(0, 0, 0, 0.504) 1px;
            background-color:orange;
            padding:0.5em 1em 0.5em 1em;
            max-width: 6em;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            border:none;
            transition: all 500ms;
            border-right:solid lightgrey 1px;
            &:first-child{
              border-top-left-radius: 12px;
            }
            &:last-child{
              border-top-right-radius: 12px;
              border-right:none;
            }
            &:hover{
              cursor: pointer;
            }
          }
          .chosen{
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
            background-color: white;
            border-bottom: none;
            &:first-child{
              border-bottom-left-radius: 0px;
            }
          }
        }
        .slider{
            width: 60%;
            margin: auto;
            .flex{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                input{
                    width: 60%;
                }
                p{
                    margin-left: 10px;
                    margin-right: 10px;
                    width: 1em;
                    font-size: 1.2em;
                }
            }
            label{
                display: block;
                width: 100%;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                color:#0000007a;
            }
        }
        p{
            text-align: center;
        }
        input[type=text]{
            margin-top:1em;
            display: block;
            margin: auto;
            width: 40%;
            height: 2em;
            border-radius: 12px;
            border:2px solid rgba(0, 0, 0, 0.437);
            padding-left:1em;
            
        }
        input[type=file]{
            display: block;
            margin: auto;
            margin-top:1em;
        }
}
}

@media only screen and (max-width: 1450px) {
  .settings_holder{
    .controls{
      nav{
        font-size: 1.3vw;
      }
      main{
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .settings_holder{
    .controls{
      width: 100vw;
      nav{
        margin: auto;
        width: 90%;
        max-width: 90%;
        font-size: 3vw;
      }
      main{
        overflow-y: scroll;
        margin-bottom: 2em;
        button{
          font-size: 24px;
        }
      }
    }
  }
} 

@media only screen and (max-width: 400px) {
  .settings_holder{
    margin-bottom: 0;
    padding-bottom: 0;
    .controls{
      main{
        overflow-y: scroll;
        margin-bottom: 2em;
        .info{
          height: 5em;
        }
        button{
          font-size: 14px;
        }
      }
    }
  }
} 