
.App{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    // background: rgb(9,0,45);
    // background: linear-gradient(279deg, rgba(9,0,45,1) 0%, rgba(50,20,72,1) 100%);
    #background{
        width: 100vw;
        height: 100vh;
    
        object-fit: cover;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
    }

    .holder{
        position: absolute;
        width: 30vw;
        top:33vh;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        text-align: center;
        h1{
            color:white;
            font-weight: bold;
            font-size: 55px;
        }
        button{
            background-color: orange;
            width: 60%;
            margin-top:1em;
            margin-left:auto;
            margin-right: auto;
            font-size: 30px;
            border-radius: 7px;
            padding-top:0.3em;
            padding-bottom: 0.3em;
            font-weight:600;
            color:rgba(0, 0, 0, 0.555);
            &:hover{
                color:black;
                background-color: white;
                cursor: pointer;
            }
        }

    }
    .two-buttons{
        p{
            color:white;
            font-weight: 600;
            font-size:40px;
        }
        button{
            display: block;
            box-shadow: rgb(248, 248, 248) 0px 3px 8px;
            border:white 3px solid;
            background-color: cornflowerblue;
            color:white;
            margin-top:1em;
            width: 30vw;
            padding-top: 0.4em;
            padding-bottom: 0.4em;
        }   
    }

}

.get-started-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}

.get-started-exit-done{
    opacity: 0;
}

@media only screen and (max-width: 1000px) {
    .App{
        .holder{
            width: 60vw;
            margin-top:1em;
        }
        .two-buttons{
            button{
                width: 80%;
            }
        }    
    }
}

@media only screen and (max-width: 700px) {
    .App{
        .holder{
            width: 80vw;
        }    
    }
}

@media only screen and (max-width: 500px) {
    .App{
        .holder{
            width: 100vw;
            button{
                width: 90%;
            }
        }    
    }
}